<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <connectionStrings>
    <add name="cs" connectionString="Data Source=My-Laptop; Initial Catalog=inchirieri; Integrated Security=True"/>
  </connectionStrings>
  <appSettings>
    
    <add key="q1" value="Select * from agentie"/>
    <add key="q2" value="Select * from agent"/>
    <add key="t1" value="agentie"/>
    <add key="t2" value="agent"/>
    <add key="t1IdName" value="id"/>
    <add key="t2FKIdName" value="agentie_id"/>
    

    <!--
    <add key="q1" value="Select * from client"/>
    <add key="q2" value="Select * from imobil"/>
    <add key="t1" value="client"/>
    <add key="t2" value="agent"/>
    <add key="t1IdName" value="id"/>
    <add key="t2FKIdName" value="client_id"/>    
    -->
    
  </appSettings>
</configuration>